<th:block th:fragment="accommodation-form">
    <form method="post">
        <fieldset>
            <div class="form-group">
                <label for="name">Name</label>
                <input type="text" class="form-control" id="name" name="name"
                       th:required="required" placeholder="Enter name of accommodation"/>
            </div>
            <div class="form-group">
                <label for="description">Description</label>
                <textarea class="form-control" id="description" name="description" rows="3"
                          placeholder="Describe briefly your place here"></textarea>
            </div>
            <div class="form-group">
                <label for="date">Valid Until</label>
                <input type="date" class="form-control" id="date" name="validUntil"
                       th:required="required" placeholder="Enter expiration date"/>
            </div>
            <form class="form" enctype="multipart/form-data" th:action="@{/images}" method="POST">
                <div class="form-group">
                    <label for="photo">Photo</label>
                    <input type="file" class="form-control-file" id="photo" name="photo" aria-describedby="fileHelp">
                    <button class="btn btn-secondary col-md-4">Upload File</button>
                    <small id="fileHelp" class="form-text text-muted">Please upload a high quality picture of your property.</small>
                </div>
            </form>
            <div class="form-group">
                <label for="user">Owner</label>
                <input type="text" class="form-control" id="user" name="accommodationUser" th:value="${#authentication.getName()}"
                       readonly />
            </div>
            <div class="form-group">
                <label for="accommodation">Towns</label>
                <select class="form-control" id="accommodation" name="accommodationTown">
                    <th:block th:each="town : ${towns}" th:object="${town}">
                        <option th:value="*{title}" th:text="*{title}">option</option>
                    </th:block>
                </select>
            </div>
            <input type="hidden" th:name="${_csrf.parameterName}"
                   th:value="${_csrf.token}" />
            <button type="submit" class="btn btn-primary">Add</button>
        </fieldset>
    </form>

    <!--<form class="mt-4" th:action="|@{'/accommodation/' + ${formMode} + ${formMode.equals('edit') || formMode.equals('delete') ? ('/' + accommodationViewModel.getId()) : ('')}}|" th:method="POST" th:object="${accommodationInput}">
        <div class="form-group" th:classappend="${#fields.hasErrors('name')} ? 'has-danger'">
            <label for="name">Name</label>
            <input type="text" class="form-control" th:field="*{name}" th:value="${accommodationInput.getName()}" id="name"
                   name="name" th:disabled="${formMode.equals('delete')}"/>
            <th:block th:each="error : ${#fields.errors('name')}">
                <small class="text-danger"
                       th:text="${error}"></small>
            </th:block>

        </div>
        <div class="form-group" th:classappend="${#fields.hasErrors('description')} ? 'has-danger'">
            <label for="description">Description</label>
            <textarea style="resize: none;" class="form-control" th:text="${accommodationInput.getDescription()}"
                      id="description" name="description"
                      rows="3" th:disabled="${formMode.equals('delete')}"></textarea>
            <th:block th:each="error : ${#fields.errors('description')}">
                <small class="text-danger"
                       th:text="${error}"></small>
            </th:block>
        </div>
        <div class="form-group" th:classappend="${#fields.hasErrors('accommodationUser')} ? 'has-danger'">
            <label for="accommodationUser">Owner</label>
            <input type="text" class="form-control" th:value="${accommodationInput.getAccommodationUser()}" id="accommodationUser"
                   name="accommodationUser" th:disabled="${formMode.equals('delete')}"/>
            <th:block th:each="error : ${#fields.errors('accommodationUser')}">
                <small class="text-danger"
                       th:text="${error}"></small>
            </th:block>
        </div>
        <div class="form-group" th:classappend="${#fields.hasErrors('validUntil')} ? 'has-danger'">
            <label for="validUntil">Valid Until</label>
            <input class="form-control" type="date" th:value="${accommodationInput.getValidUntil()}" id="validUntil"
                   name="validUntil" th:disabled="${formMode.equals('delete')}"/>
            <th:block th:each="error : ${#fields.errors('validUntil')}">
                <small class="text-danger"
                       th:text="${error}"></small>
            </th:block>
        </div>
        <div class="d-flex justify-content-around mb-4">
            <button type="submit" class="btn btn-lg"
                    th:classappend="${(formMode.equals('add') ? 'btn-primary' : '') + (formMode.equals('edit') ? 'btn-success' : '') + (formMode.equals('delete') ? 'btn-danger' : '')}" th:text="|${#strings.capitalize(formMode)} Accommodation|"></button>
            <a class="btn btn-danger btn-lg" th:href="@{/}">Cancel</a>
        </div>
    </form>-->
</th:block>