<nav class="navbar navbar-expand-lg navbar-dark bg-primary" th:fragment="nav">
    <a class="navbar-brand" href="/">Accommodation Reviews</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01"
            aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/accommodation/show">Show Accommodations</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/comment/show-all">Show Comments</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/map">Map</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/images">Images</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">About</a>
            </li>
        </ul>
        <div class="nav-item dropdown" sec:authorize="hasAnyRole('OWNER', 'TOURIST')">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button"
               aria-haspopup="true" aria-expanded="false">My profile</a>
            <div class="dropdown-menu">
                <a class="dropdown-item" th:href="@{/user/profile-user/{pathParam}
                (pathParam=${#authentication.getName()})}">View Profile</a>
                <a class="dropdown-item" th:href="@{/user/edit-user/{pathParam}
                (pathParam=${#authentication.getName()})}">Edit Profile</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" sec:authorize="hasRole('OWNER')" href="/accommodation/show-my">My Accommodations</a>
                <a class="dropdown-item" sec:authorize="hasRole('TOURIST')" href="/comment/show-my">My Comments</a>
                <a class="dropdown-item" sec:authorize="hasRole('OWNER')" href="/town/show">Show/Add Towns</a>
            </div>
        </div>
        <div class="nav-item" sec:authorize="isAuthenticated()">
            <form th:action="@{/logout}" th:method="POST">
                <button type="submit" class="btn btn-primary">Logout</button>
            </form>
        </div>
        <div class="nav-item dropdown" sec:authorize="!isAuthenticated()">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button"
               aria-haspopup="true" aria-expanded="false">Login/Register</a>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="/login">Login</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="/register">Register</a>
            </div>
        </div>
        <form class="form-inline my-2 my-lg-0" th:action="@{/search}" th:method="GET">
            <input class="form-control mr-sm-2" type="text" name="name" placeholder="Search">
            <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</nav>