<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:insert="~{fragments/head}">head</th:block>
    <title>Add Accommodation</title>
</head>
<body>
<nav th:replace="~{fragments/nav}"></nav>

<div class="container-fluid">
    <div class="container mt-5">
        <h1>All Accommodations</h1>
        <table class="table mt-5">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Description</th>
                <th scope="col">Valid Until</th>
                <th scope="col">Photo</th>
                <th scope="col">Owner</th>
                <th scope="col">Comments</th>
                <th scope="col">Town</th>
                <th scope="col">Actions</th>
            </tr>
            </thead>
            <tbody>
            <th:block th:each="accommodation,iter : ${all-accommodations}" th:object="${accommodation}">
                <tr>
                    <th scope="row" th:text="${iter.index + 1}"></th>
                    <td th:text="*{name}"></td>
                    <td th:text="*{description}"></td>
                    <td th:text="*{validUntil}"></td>
                    <td th:text="*{photo}"></td>
                    <td th:text="*{accommodationUser.getUsername()}"></td>
                    <td th:text="*{accommodationComments.getDescription()}"></td>
                    <td th:text="*{accommodationTown.getTitle()}"></td>
                    <td><a class="btn btn-secondary" th:href="@{/accommodation/comment/{id}(id=*{id})}">Comment</a></td>
                    <td><a class="btn btn-secondary" th:href="@{/accommodation/edit/{id}(id=*{id})}">Edit</a></td>
                    <td><a class="btn btn-secondary" th:href="@{/accommodation/delete/{id}(id=*{id})}">Delete</a></td>
                </tr>
            </th:block>
            </tbody>
        </table>
    </div>
</div>
<footer th:replace="~{fragments/footer}"></footer>
</body>
</html>