<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Accommodation Reviews</title>
    <link rel="stylesheet" type="text/css" href="styles/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="styles/css/style.css">
</head>
<body>
    <div th:replace="~{fragments/nav}"></div>
    <div class="jumbotron">
        <h1 class="display-3" th:text="|Hello, ${message}| + '!'"></h1>
        <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
        <hr class="my-4">
        <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
        <p class="lead">
            <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
        </p>
    </div>

    <th:block th:each="capital : ${capitals}" th:object="${capital}">
        <h3 class="text-center" th:text="|Name: *{name}, Latitude: *{latitude}, Longitude: *{longitude}|"></h3>
    </th:block>

    <h1>POST WITH CAPTCHA</h1>
    <form method="post" action="/secured_with_captcha">
        <input type="text" name="username" placeholder="Enter username..."/><br />
        Enter sum of: <span th:text="${num1} + ' + ' + ${num2} + ' = '"></span>
        <input type="number" name="sum" placeholder="Enter sum here..."/><br />
        <input type="submit"/>
    </form>
    <hr/>

    <h1>POST WITHOUT CAPTCHA</h1>
    <form method="post" action="/not_secured_with_captcha">
        <input type="text" name="username" placeholder="Enter username..."/><br />
        Enter sum of: <span th:text="${num1} + ' + ' + ${num2} + ' = '"></span>
        <input type="number" name="sum" placeholder="Enter sum here..."/><br />
        <input type="submit"/>
    </form>
    <hr/>

</body>
</html>