<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:insert="~{fragments/head}"></th:block>
    <title>Show Towns</title>
</head>
<body>
<nav th:replace="~{fragments/nav}"></nav>

<div class="container">
    <div>
        <h1 class="text-center mt-3">All Towns</h1>
        <div class="row mt-3">
            <div class="col-sm-4"></div>
            <div class="col-sm-4">
                <form th:action="@{/admin/town-add}" th:method="GET">
                    <button type="submit" class="btn btn-primary btn-lg btn-block">Add Town</button>
                </form>
            </div>
            <div class="col-sm-4"></div>
        </div>
        <table class="table mt-5">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
            </tr>
            </thead>
            <tbody>
            <th:block th:each="town,iter : ${towns}">
                <tr>
                    <th scope="row" th:text="${iter.index + 1}"></th>
                    <td th:text="${town.getTitle()}"></td>
                </tr>
            </th:block>
            </tbody>
        </table>
    </div>
</div>

</body>
</html>